# Copyright (c) 2025 Eclipse Foundation

name: CI to run SEC on RTL changes

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - 'rtl/**'

jobs:
  sec:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # From https://github.com/marketplace/actions/setup-oss-cad-suite
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install OSS CAD Suite
        uses: YosysHQ/setup-oss-cad-suite@v3

      - name: Check yosys installation
        run: yosys --version || true

      - name: Run SEC on the standard core configuration
        run: make sec

      - name: Run SEC on the eXtension InterFace configuration
        run: make sec_Xinterface